<div id="upper" class="widget-area">
  <ul class="xoxo">
    <li id="scrolly-banner-thing" class="widget-container scrolly_banner_thing_render"><div id="post-ads"><a id="banner-0" class="opaque" href="/go/1/http://www.omgubuntu.co.uk/2011/10/ubuntu-7th-birthday-today-look-back-at-where-it-all-began/"><img width="960" height="200" src="http://i.imgur.com/tc4ti.jpg" alt="banner" original="http://i.imgur.com/tc4ti.jpg"></a><a id="banner-1" href="/go/2/http://www.omgubuntu.co.uk/2011/10/the-ubuntu-powered-vodafone-webbook-launches-tomorrow/"><img width="960" height="200" src="http://i.imgur.com/TPfZf.jpg" alt="banner" original="http://i.imgur.com/TPfZf.jpg"></a><a id="banner-2" href="/go/3/http://www.omgubuntu.co.uk/2011/10/how-to-enable-ubuntus-global-menu-in-xubuntu-11-10/"><img width="960" height="200" src="http://i.imgur.com/YRt2V.jpg" alt="banner" original="http://i.imgur.com/YRt2V.jpg"></a><a id="banner-3" href="/go/4/http://www.omgubuntu.co.uk/2011/10/10-things-to-do-after-installing-ubuntu-11-10/"><img width="960" height="200" src="http://i.imgur.com/PCGJO.jpg" alt="banner" original="http://i.imgur.com/PCGJO.jpg"></a><a id="banner-4" href="/go/5/http://www.omgubuntu.co.uk/2011/10/gnome-shell-ubuntu-11-10-guide/"><img width="960" height="200" src="http://i.imgur.com/TBm1R.jpg" alt="banner" original="http://i.imgur.com/TBm1R.jpg"></a><a id="banner-5" href="/go/6/http://www.omgubuntu.co.uk/2011/10/ubuntu-11-10-released/"><img width="960" height="200" src="http://i.imgur.com/45ycE.jpg" alt="banner" original="http://i.imgur.com/45ycE.jpg"></a>
      <div id="bar-container"><div id="bar" style="width: 0px; "></div></div>
      <div id="controls"><ul id="adjuster"><li id="a5" class="to-5"></li><li id="a1" class="to-1"></li></ul><ul id="chooser"><li class="to-0 displaying"></li><li class="to-1"></li><li class="to-2"></li><li class="to-3"></li><li class="to-4"></li><li class="to-5"></li></ul></div>
    </div>
    </li>
  </ul>
</div>
