<div class="slider"><!-- TODO: slider --></div>

<div class="row show-grid">
  <div class="span12 lenta">

    <% @items.each do |item| %>
      <%= item.tags %></br>
      <%# image_tag item.image.url(:medium) %>
    <% end %>
  </div>


  <div class="span4 sidebar"><%= render partial: 'tag_cloud' %></div>
</div>

<% if true or (current_user and current_user.admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>
