<div class="slider"><!-- TODO: slider --></div>

<% if true or (current_user and current_user.admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>

<% @items.each do |item| %>
  <%= image_tag item.image.url(:medium) %>
<% end %>
