/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-1.3.0
 *= require token-input
 *= require_self
*/

@import "compass";

body {
  background:#fff image-url('background-v2.png') 0 0 repeat-x;
}

#header {
  height: 91px;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 0;

  .logo {
    display: block;
    left: 20px;
    position: relative;
    top: 14px;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .search, .user_stuff {
    float: right;
    margin-top: 30px;
  }

  .search {
    margin-right: 120px;
  }

  .user_stuff {
    ul {
      list-style: none;
      margin: 0 0 2em;
      padding: 0;
    }

    ul li {
      display: inline;
    }
  }
}

#site {
  .slider {
    display: block;
    width: 100%;
    height: 180px;
    background: grey;
    margin-bottom: 20px;
  }
}
