/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require token-input
*/
@import "variables";
@import "compass_twitter_bootstrap";
@import "compass";
@import "token-input-layouts-theme";

body { background: #fff image-url('background-v2.png') 0 0 repeat-x; }

// input constructed by tokeninput
input#token-input-item_tags, input#token-input-search_term {
  padding: 1px 8px;
  border-color: transparent;
  box-shadow: none !important;
  @include border-radius(0px);
  border: none;
  border-width: 0;
}

#header {
  height: 91px;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 0;

  .logo {
    display: block;
    left: 20px;
    position: relative;
    top: 14px;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .search, .user_stuff {
    float: right;
    margin-top: 30px;
  }

  .search {
    margin-right: 120px;
  }

  .user_stuff {
    ul {
      list-style: none;
      margin: 0 0 2em;
      padding: 0;
    }

    ul li {
      display: inline;
    }
  }
}

#site {
  .slider {
    display: block;
    width: 100%;
    height: 180px;
    background: grey;
    margin-bottom: 20px;
  }
}

// search inside layout's header
div.search {
  .token-input-input-token-layouts {height: 27px;}
  .token-input-list-layouts {
    @include border-radius(3px 0 0 3px);
  }
  label.add-on {
    cursor: pointer;
    float: right;
    height: 19px;
    @include text-shadow(0 1px 1px rgba(255, 255, 255, .75));
    @include background(linear-gradient(center top, $white 25%, darken($white, 10%)));

  }
  a {
    text-decoration: none;
    color: $grayDark;
  }
}

// socia buttons on items#show
.social_buttons {
  background-color: gray;
  display: block;
  height: 50px;
}

// comments
.comments {
  margin: 20px 0;

  .form_container { margin-bottom: 40px;}

  textarea {
    width: 660px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    float: right;
    margin-right: 30px;
  }

}

.comment {
  margin: 20px 0;
  padding-bottom: 10px;
  background: darken($white, 5%);
  @include border-radius(5px);

  .text {
    margin: 10px 0 0 10px;
  }
}
